.text-center {
    text-align: center;
}

.pt-9 {
    padding-top: 9px;
}

.btn {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c95ff;
    cursor: pointer;
    color: rgb(239, 237, 237);
}

.btn:active{
    transform: translateY(5px);
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-red {
    background-color: #ff0000;
}

.bg-purple:hover {
    background-color: #d8a0e8;
}

.bg-navy:hover {
    background-color: #c8daf7;
}

.bg-sky-blue:hover {
    background-color: #9df9ec;
}

.bg-violet:hover {
    background-color: #b2a0e8;
}

.text-white {
    color: #fff
}

.bg-blue {
    background-color: #0000ff;
}

.bg-pink {
    background-color: #ffc0cb;
}

.bg-white {
    background-color: #fffff0;
}

.card {
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    /* align-items: flex-end; */
    justify-content: flex-end;
}

.flex-between {
    justify-content: space-between;
}

.loader {
    border: 6px solid #000;
    border-top: 6px solid #fff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}   

.select {
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
}

