
* {
    margin: 10px;
}
body {
    font-size: 62.5;
}
div, h1, p {
    /* padding: 10px; */
    text-align: center;
}
.banner {
    height: 350px;
    width: 450px;
}
.icons {
    height: 2rem;
    width: 2rem;
}
